{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">What Do You Think the Outcome of Both Coins Is?</h2>
    <h5 class="text-center my-4">Format: [Fair Coin][Biased Coind]</h5>
    
    <form method="post">
        <div class="d-flex justify-content-center mb-3">
            {% for choice in ['HH', 'TT', 'HT', 'TH'] %}
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="{{ form.coin_permutation_choice.name }}" value="{{ choice }}" required> {{ choice }}
                </label>
            {% endfor %}
        </div>
        
        {% if form.coin_permutation_choice.errors %}
            <div class="alert alert-danger text-center">
                {{ form.coin_permutation_choice.errors }}
            </div>
        {% endif %}
        
        <div class="d-flex justify-content-center">
            {% next_button %}
        </div>
    </form>
</div>
{% endblock %}
