{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">This is round number {{ round_number }}. Please guess the outcome of the Fair and Biased coins:</h2>

    <form method="post">
        <div class="d-flex justify-content-center mb-3">
            <!-- Loop over the coin order and show the correct labels and fields -->
            {% for coin in coins %}
                <div class="mx-4 text-center">
                    <h5>Outcome of the {{ coin.1 }} Coin</h5>
                    <label class="btn btn-primary mx-2">
                        <input type="radio" name="{{ coin.0 }}_outcome" value="H" required> Heads
                    </label>
                    <label class="btn btn-primary mx-2">
                        <input type="radio" name="{{ coin.0 }}_outcome" value="T" required> Tails
                    </label>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            {% next_button %}
        </div>
    </form>
</div>
{% endblock %}
