<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study! Please read the following instructions carefully. </h2>
    <p>
        The experiment proceeds in rounds. There will be en rounds in total. 
    </p>

    <p> 
        Each round has three subrounds. In each subround, two coins will be flipped. You will <b>not</b> be informed of their outcomes automatically.
    </p>  

       <p> 
        Each subround has two questions. First, you will be given the option to <b>find out the outcome of one of the two coins</b>. The first question will ask you which coin you'd like to reveal. Once you choose the coin, the outcome will be revealed to you on the next page. 
        After that, you will be asked to guess the outcome of <b>both</b> coins.

        </p>
    </div>
</div>
