<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study! Please read the following instructions carefully. </h2>
    <p>
        The experiment proceeds in rounds. Each round has three subrounds. In each subround, two coins will be flipped. You will <b>not</b> be informed of their outcomes automatically.
      </p>  

       <p> 
        Each round has two questions. First, you will be given the option to <b>find out the outcome of one of the two coins</b>. The first question will ask you which coin you'd like to reveal. Once you choose the coin, the outcome will be revealed to you on the next page. 
        After that, you will be asked to guess the outcome of <b>both</b> coins.

        </p>

        <p>
        Each coin is worth $1. But - you must guess both coins correctly to receiver $2. If you do not guess both coins correctly, you will receive $0. You will not, however, see whether you won or not immediately. Your winnings will be revealed only at the end of the 10 rounds.
    </p>
        <p>
            This process will continue for 10 rounds. The experiment will end after you complete all 10 rounds.
        </p>
    </div>
</div>
