
<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Coin Game</h2>

    <h3>
        Instructions
    </h3>
    <p>
        This is a coin-flip game.
    </p>
    <p>
        To start, two coins, a fair and a biased coin, will be flipped and the outcome will be anonymous to the participant.
        Next, the participant will have the option to either reveal the fair or the biased coin, exclusively. The outcome of the coin will be revealed (i.e., heads (H) or tails (T)).
        Then, the participant will be prompted to guess the draw of both coins with the options of HH, HT, TH, or TT.
        Upon a correct prediciton, the participant will recieve an anonymous reward of $1; otherwise they receive nothing.
        This process will continue for 20 rounds, where the final cummulative reward of the participant will be revealed after the terminal round.
    </p>
    </div>
</div>