
<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Coin Game</h2>

    <h3>
        Welcome! This experiment is about the foundations of human curiosity. You will answer a series of questions, and be reimbursed based on your answers. 
    </h3>
    <p>
        You will be presented with a series of decisions. 
    </p>
    <p>
        In each round, two coins will be flipped - a fair one (with equal probabilities of landing heads or tails), which will be coin 1, and a biased one (with a high chance of landing heads), which will be coin 2. You will not be informed of their outcomes automatically.
        The first question will ask you if you want to reveal the outcome (heads, or tails) of one of the coins, and if so, of which one. Once you choose the coin, the outcome will be revealed to you on the next page. 
        After that, you will be asked to guess the outcome of *both* coins.

        </p>

        <p>
        If you guessed correctly, you will receive $1. You will not, however, see whether you won or not immediately. Your winnings will be revealed only at the end of the 20 rounds. If you guessed incorrectly, you will receive $0.
    </p>
        <p>
            This process will continue for 20 rounds. The experiment will end after you complete all 20 rounds.
        </p>
    </div>
</div>
