<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study! Please read the following instructions carefully. </h2>

        <p>
        Each coin is "worth" $1. If you guessed correctly in the second question of a subround, you will receive $2, $1 for guessing each coin correctly. If not, you will receive $0. You <b>must guess the outcome of both coins correctly to receive the payment.</b> Guessing only one of the two coins correctly is not enough.
        </p>

        <p>
            You will not be informed of your earnings after each choice. Your earnings will be displayed to you only at the end of the six rounds.
        </p>
        <p>
            This process will continue for six rounds. The experiment will end after you complete all six rounds.
        </p>
        <p>
            After you complete all rounds, you will be paid your earnings, plus a $5 participation fee. 
        </p> 
    </div>
</div>
